In [1]:
#imports
import boto3
import pyodbc
import pandas as pd
import redshift_connector
import psycopg2
from google.cloud import bigquery
from google.oauth2 import service_account
import pandas_gbq
import os
import json
from functools import reduce

In [2]:
with open('aws.json') as json_file:
    cr = json.load(json_file)

s3creds = cr['data_sources']['s3']['creds']
redcreds = cr['data_sources']['redshift']['creds']

In [3]:
#s3 connect 
s3 = boto3.resource(
    service_name='s3',
    region_name=s3creds['region_name'],
    aws_access_key_id=s3creds['aws_access_key_id'],
    aws_secret_access_key=s3creds['aws_secret_access_key']
)

tw_name = 'Tournament_Won.csv'
tl_name = 'Tournament_Lost.csv'

#s3 get data
bucket_name = s3creds['bucket']
tw_file_name = s3creds['folder_path']+tw_name
tl_file_name = s3creds['folder_path']+tl_name
bucket = s3.Bucket(bucket_name)
tw_obj = bucket.Object(key=tw_file_name)
tl_obj = bucket.Object(key=tl_file_name)
tw_response = tw_obj.get()
tl_response = tl_obj.get()
twTable = pd.read_csv(tw_response['Body'],header=3)
tlTable = pd.read_csv(tl_response['Body'],header=3)
twTable.info()
tlTable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35923 entries, 0 to 35922
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ATP        35923 non-null  int64
 1   Winner     35923 non-null  object
 2   WRank      35910 non-null  float64
 3   WPts       35912 non-null  float64
 4   W1         35692 non-null  float64
 5   W2         35353 non-null  float64
 6   W3         16973 non-null  float64
 7   W4         3443 non-null   float64
 8   W5         1295 non-null   float64
 9   Wsets      35693 non-null  float64
 10  B365W      35719 non-null  float64
 11  PSW        32978 non-null  float64
 12  MaxW       29510 non-null  float64
 13  AvgW       29510 non-null  float64
 14  EXW        28712 non-null  float64
 15  LBW        28130 non-null  float64
 16  SJW        15571 non-null  float64
 17  UBW        5309 non-null   float64
 18  row_order  35923 non-null  int64
dtypes: float64(16), int64(2), object(1)
memory usage: 5.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35923 entries, 0 to 35922
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ATP        35923 non-null  int64
 1   Loser      35923 non-null  object
 2   LRank      35843 non-null  float64
 3   LPts       35844 non-null  float64
 4   L1         35695 non-null  float64
 5   L2         35353 non-null  float64
 6   L3         16973 non-null  float64
 7   L4         3443 non-null   float64
 8   L5         1295 non-null   float64
 9   Lsets      35690 non-null  float64
 10  B365L      35742 non-null  float64
 11  PSL        32978 non-null  float64
 12  MaxL       29510 non-null  float64
 13  AvgL       29510 non-null  float64
 14  EXL        28716 non-null  float64
 15  LBL        28141 non-null  float64
 16  SJL        15578 non-null  float64
 17  UBL        5309 non-null   float64
 18  row_order  35923 non-null  int64
dtypes: float64(16), int64(2), object(1)
memory usage: 5.2+ MB

In [4]:
#connecting to redshift using redshift connector

HOST = redcreds['host']
DATABASE = redcreds['database']
USER = redcreds['username']
PASSWORD = redcreds['password']

conn = redshift_connector.connect(
     host=HOST,
     database=DATABASE,
     user=USER,
     password=PASSWORD
  )

print(conn)
cursor = conn.cursor()

query = "select * from tournament_loser"
cursor.execute(query)
tournament_loser : pd.DataFrame = cursor.fetch_dataframe()
print(tournament_loser.info())

<redshift_connector.core.Connection object at 0x0000027F28B8A640>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35923 entries, 0 to 35922
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   atp           35923 non-null  int64
 1   pl2_flag      35338 non-null  object
 2   pl2_year_pro  35338 non-null  float64
 3   pl2_weight    35338 non-null  float64
 4   pl2_height    35338 non-null  float64
 5   pl2_hand      35338 non-null  object
 6   row_order     35923 non-null  int64
dtypes: float64(3), int64(2), object(2)
memory usage: 1.9+ MB
None

In [5]:
#GCP connection
KEYPATH = "gcp.json"
CREDS = service_account.Credentials.from_service_account_file(KEYPATH)
client = bigquery.Client(credentials=CREDS, project=CREDS.project_id)


q1 = """
SELECT * FROM training_dataset.tournament
"""
q2 = """
SELECT * FROM training_dataset.tournament_winner
"""

view1 = client.query(q1)
view2 = client.query(q2)
view1.result()
tournament = view1.result().to_dataframe()
tournament_winner = view2.result().to_dataframe()
tournament.info()
tournament_winner.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35923 entries, 0 to 35922
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ATP              35923 non-null  int64
 1   Location         35923 non-null  object
 2   Tournament       35923 non-null  object
 3   tournament_date  35923 non-null  object
 4   Series           35923 non-null  object
 5   Court            35923 non-null  object
 6   Surface          35923 non-null  object
 7   Round            35923 non-null  object
 8   best_of          35923 non-null  int64
 9   Comment          35923 non-null  object
 10  row_order        35923 non-null  int64
dtypes: int64(3), object(8)
memory usage: 3.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35923 entries, 0 to 35922
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ATP           35923 non-null  int64
 1   pl1_flag      35923 non-null  object
 2   pl1_year_pro  35923 non-null  int64
 3   pl1_weight    35923 non-null  int64
 4   pl1_height    35923 non-null  int64
 5   pl1_hand      35923 non-null  object
 6   row_order     35923 non-null  int64
dtypes: int64(5), object(2)
memory usage: 1.9+ MB

In [6]:
dataFrames = [twTable,tlTable,tournament,tournament_winner,tournament_loser]

In [7]:
merged = reduce(lambda left,right: pd.merge(left,right,on='row_order'),dataFrames)

C:\Users\CHANDR~1\AppData\Local\Temp/ipykernel_46064/1287551498.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ATP_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged = reduce(lambda left,right: pd.merge(left,right,on='row_order'),dataFrames)

In [8]:
mergedStd = merged.drop(['ATP_y','ATP_x','ATP_x','ATP_y'],axis=1)
merged.info()
mergedStd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35923 entries, 0 to 35922
Data columns (total 59 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ATP_x            35923 non-null  int64
 1   Winner           35923 non-null  object
 2   WRank            35910 non-null  float64
 3   WPts             35912 non-null  float64
 4   W1               35692 non-null  float64
 5   W2               35353 non-null  float64
 6   W3               16973 non-null  float64
 7   W4               3443 non-null   float64
 8   W5               1295 non-null   float64
 9   Wsets            35693 non-null  float64
 10  B365W            35719 non-null  float64
 11  PSW              32978 non-null  float64
 12  MaxW             29510 non-null  float64
 13  AvgW             29510 non-null  float64
 14  EXW              28712 non-null  float64
 15  LBW              28130 non-null  float64
 16  SJW              15571 non-null  float64
 17  UBW              5309 non-null   float64
 18  row_order        35923 non-null  int64
 19  ATP_y            35923 non-null  int64
 20  Loser            35923 non-null  object
 21  LRank            35843 non-null  float64
 22  LPts             35844 non-null  float64
 23  L1               35695 non-null  float64
 24  L2               35353 non-null  float64
 25  L3               16973 non-null  float64
 26  L4               3443 non-null   float64
 27  L5               1295 non-null   float64
 28  Lsets            35690 non-null  float64
 29  B365L            35742 non-null  float64
 30  PSL              32978 non-null  float64
 31  MaxL             29510 non-null  float64
 32  AvgL             29510 non-null  float64
 33  EXL              28716 non-null  float64
 34  LBL              28141 non-null  float64
 35  SJL              15578 non-null  float64
 36  UBL              5309 non-null   float64
 37  ATP_x            35923 non-null  int64
 38  Location         35923 non-null  object
 39  Tournament       35923 non-null  object
 40  tournament_date  35923 non-null  object
 41  Series           35923 non-null  object
 42  Court            35923 non-null  object
 43  Surface          35923 non-null  object
 44  Round            35923 non-null  object
 45  best_of          35923 non-null  int64
 46  Comment          35923 non-null  object
 47  ATP_y            35923 non-null  int64
 48  pl1_flag         35923 non-null  object
 49  pl1_year_pro     35923 non-null  int64
 50  pl1_weight       35923 non-null  int64
 51  pl1_height       35923 non-null  int64
 52  pl1_hand         35923 non-null  object
 53  atp              35923 non-null  int64
 54  pl2_flag         35338 non-null  object
 55  pl2_year_pro     35338 non-null  float64
 56  pl2_weight       35338 non-null  float64
 57  pl2_height       35338 non-null  float64
 58  pl2_hand         35338 non-null  object
dtypes: float64(35), int64(10), object(14)
memory usage: 16.4+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 35923 entries, 0 to 35922
Data columns (total 55 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Winner           35923 non-null  object
 1   WRank            35910 non-null  float64
 2   WPts             35912 non-null  float64
 3   W1               35692 non-null  float64
 4   W2               35353 non-null  float64
 5   W3               16973 non-null  float64
 6   W4               3443 non-null   float64
 7   W5               1295 non-null   float64
 8   Wsets            35693 non-null  float64
 9   B365W            35719 non-null  float64
 10  PSW              32978 non-null  float64
 11  MaxW             29510 non-null  float64
 12  AvgW             29510 non-null  float64
 13  EXW              28712 non-null  float64
 14  LBW              28130 non-null  float64
 15  SJW              15571 non-null  float64
 16  UBW              5309 non-null   float64
 17  row_order        35923 non-null  int64
 18  Loser            35923 non-null  object
 19  LRank            35843 non-null  float64
 20  LPts             35844 non-null  float64
 21  L1               35695 non-null  float64
 22  L2               35353 non-null  float64
 23  L3               16973 non-null  float64
 24  L4               3443 non-null   float64
 25  L5               1295 non-null   float64
 26  Lsets            35690 non-null  float64
 27  B365L            35742 non-null  float64
 28  PSL              32978 non-null  float64
 29  MaxL             29510 non-null  float64
 30  AvgL             29510 non-null  float64
 31  EXL              28716 non-null  float64
 32  LBL              28141 non-null  float64
 33  SJL              15578 non-null  float64
 34  UBL              5309 non-null   float64
 35  Location         35923 non-null  object
 36  Tournament       35923 non-null  object
 37  tournament_date  35923 non-null  object
 38  Series           35923 non-null  object
 39  Court            35923 non-null  object
 40  Surface          35923 non-null  object
 41  Round            35923 non-null  object
 42  best_of          35923 non-null  int64
 43  Comment          35923 non-null  object
 44  pl1_flag         35923 non-null  object
 45  pl1_year_pro     35923 non-null  int64
 46  pl1_weight       35923 non-null  int64
 47  pl1_height       35923 non-null  int64
 48  pl1_hand         35923 non-null  object
 49  atp              35923 non-null  int64
 50  pl2_flag         35338 non-null  object
 51  pl2_year_pro     35338 non-null  float64
 52  pl2_weight       35338 non-null  float64
 53  pl2_height       35338 non-null  float64
 54  pl2_hand         35338 non-null  object
dtypes: float64(35), int64(6), object(14)
memory usage: 15.3+ MB

In [9]:
pandas_gbq.to_gbq(mergedStd, destination_table = 'training_dataset.DA-12', project_id=CREDS.project_id, credentials = CREDS)